langchain
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
langchain_huggingface
langchain_chroma
langchain-groq
pandas
validators==0.28.1
youtube_transcript_api
pytube
unstructured
python-dotenv
ipykernel
pymupdf
bs4
arxiv
mysql-connector-python
SQLAlchemy
chromadb
sentence_transformers
faiss-cpu
duckdb
duckduckgo_search==5.3.1b1
numexpr
huggingface_hub



pytube>=15.0.0
youtube-transcript-api>=0.6.1
langchain-community>=0.0.29
langchain-core>=0.1.0